* {
    --main-bg-color: #091221;
    --main-text-color: #fff;

    --card-bg-color: #fff;
    --card-text-color: #000;
    --card-border-radius: 5px;
    --card-img-border-radius: 5px;

    --footer-bg-color: #0585e6;
    --footer-text-color: #091221;
    --footer-link-color: #fe0369;

    --link-text-color: #fe0369;
    --link-hover-color: #0236a5;

    --nav-bg-color: #091221;
    --nav-bg-opacity: 80%;
    --nav-text-color: #fff;

    --button-back-color: #fe0369;
    --button-text-color: #fff;
    --button-emphasis-color: #0236a5;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color)
}

a {
    color: var(--link-text-color);
}

a:hover {
    color: var(--link-hover-color);
}