---
const { isSpaceNeeded = true } = Astro.props
---
<style>
footer {
    background: var(--footer-bg-color);
    text-align: center;
  }
  
footer p {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
  
footer a {
    color: var(--footer-link-color);
}
  
footer a:hover {
    color: var(--link-hover-color);
}

.top-space {
    margin-top: 5em !important;
}

@media(min-width: 768px) {
    .footer-content {
        width: 80%;
        margin: auto;
    }
}
</style>
<footer>
    <div class:list={["footer-content", { "top-space": isSpaceNeeded }]}>
        <p>救國團總團部  版權所有</p>
        <p>地址:台北市中山區民權東路二段69號二樓 電話 <a href="tel:0225965858">02-2596-5858</a> 轉 256、257 傳真 02-2596-5796</p>
        <p>Copyright © 2021 CHINA YOUTH CORPS All Rights Reserved. 信箱：<a href="mailto:tc@cyc.tw">tc@cyc.tw</a></p>
    </div>
</footer>